<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<script
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
	<script
	src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="script/handlebars.runtime-v4.0.11.js"></script>
	<script src="script/templatesCompiled.js"></script>-->
	<script src="script/main.js" type="text/javascript"></script>
	<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<header>
		<h1>Weather Station</h1>
	</header>
	<main id="app">
		<section id="city-list">
			<city-weather v-for="(city, key) in cities" :key="key" :city="city" v-on:click.native="displayDetails( key)"></city-weather>
		</section>
		<section id="city-details">
			<template v-if="cityIndex == -1">
				<p>Click on one of the cities above for more detailed weather information</p>
			</template>
			<template v-else>
				<h2>{{featuredCity.name}}</h2>
				<div class="weather-details">
					<div>
						<img class="icon" :src="'http://openweathermap.org/img/w/' + featuredCity.weather[0].icon + '.png'" />
						<p class="temp">{{featuredCity.main.temp}}&deg; F</p>
						<p class="desc">{{featuredCity.weather[0].description}}</p>
					</div>
					<div>
						<h3>Humidity</h3>
						<p>{{featuredCity.main.humidity}}%</p>
					</div>
					<div>
						<h3>Wind Speed</h3>
						<p>{{featuredCity.wind.speed}}mph</p>
					</div>
					<div>
						<h3>Clouds</h3>
						<p>{{featuredCity.clouds.all}}%</p>
					</div>
				</div>
			</template>
		</section>
	</main>
</body>
</html>